:host ::ng-deep {
    .my-blue {
        background-color: blue;
        color: white;
        font-size: 1.3em;
        padding: 0 3px;
    }

    .my-orange {
        background-color: orange;
        font-size: 1.3em;
        padding: 0 3px;
    }
}